.dsf-header {
    background-color: var(--dsf-color-bg-secondary);
    color: var(--dsf-color-bg-tertiary);
    height: 70px;
}

.dsf-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.dsf-header h1 {
    font-size: 20px;
}

.dsf-header p {
    font-size: 12px;
    font-weight: 700;
}